<html>
    <body>
        <form method="post" action="/new">
            <h1>Add a new message</h1>
            <label for="user">Add your name:</label>
            <input type="text" name="user" id="user" />
            <label for="msg">Add your message:</label>
            <input type="text" name="msg" id="msg"/>
            <button type="submit">Submit message</button>
        </form>
    </body>
</html>