<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Text: <%= message.text %></p>
    <p>Username: <%= message.user %> </p>
    <p>Written on: <%= message.added %></p>
    <a href="/">Back to homepage</a>
</body>
</html>