<!DOCTYPE html>
<html lang="en">
    <%- include("header") %>
<body>
    <a href="/">Go back to homepage</a>
    <% messages.forEach((message) => { %>
    <p>Username: <%= message.username %> </p>
    <p>Text: <%= message.text %></p>
    <p>Written on: <%= message.added %></p>
    <% }); %>
</body>
</html>